/*
* This CSS deals with the design on a specific theme. 
* Here is instruction how wide the sidebar should be and so on.
* This css creates the websites design without content
* The menu and sidebar(s) headings is defined here aswell
*/

/* Set a background image/color on the whole site here*/
body{
   /* background:transparent url('../images/background.png') repeat;*/
	background: #8FAFA9;
}

/*Everything is in this container*/
#wrap{
	/*Set page width*/
	width: 80%; 	

	/*make the page centered*/
	margin: 0px auto;
	
	overflow:hidden;
	
}

/*******************************************************************************
*********************** Header *************************************************
********************************************************************************/
#header{
  /*  background:transparent url('../images/header.png') no-repeat 0 0;*/
    min-height:90px;
	float:left;
	width: 100%;
	padding-bottom:10px;
	/*Make the site title centered*/
	/*text-align:center;*/
}
#site_title{
	font-size:30px;
}
#site_description{
	margin:7px 0 0 20px;
	font-size:15px;
}


/* Menu
------------------------------------------------------------------------------------
The menus is at the bottom of the page. We will put it on top with CSS
*/

#nav{
	width:100%;	
	position: absolute;
	top:110px;
	background: #267491;
	display: none;
}
#nav ul{
}

#nav li{
	float: left;
	padding:5px 10px;
	list-style-type:none;
	font-size:17px;
	word-wrap: break-word;
}
#nav li a:hover{
	background-color:inherit;
	color:#fff;
}
#nav li:hover{
	background-color:#333333;
}
#nav li:hover>a{
	color:#fff;
}
#nav a, #nav a:visited{

}

#nav a:hover, #nav a:active{

}


/*******************************************************************************
*********************** Container***********************************************
********************************************************************************
It is containing content and sidebar
*/
#cnt_wrap{

}
#cnt_top{
    /*background:transparent url('../images/container_top.png') no-repeat 0 0;  
     float:left;
    width: 100%;
    height:76px; */
}
#container{
   /* background:transparent url('../images/container_loop.png') repeat-y;   */
	float:left;
	margin:45px 0 0 0px;
	width: 100%;
}
#cnt_bottom{
    /*background:transparent url('../images/container_bottom.png') no-repeat 0 0; 
     float:left;
    width: 100%;
    height:76px;
      */
}



/*******************************************************************************
*********************** Content *************************************************
********************************************************************************/

#c_wrap{
	width:650px;
	float:left;
}
#c_top{
    /*background:transparent url('../images/content_top.png') no-repeat 0 0;*/
    width: 100%;
    height: 12px;
    
}
#content{
    /*background:transparent url('../images/content_loop.png') repeat-y; */
	overflow: hidden;
	padding: 5px 10px 20px 10px;
}
#c_bottom{
    /*background:transparent url('../images/content_bottom.png') no-repeat 0 0;*/
    width: 100%;
    height: 12px;
}


#content .hentry{
	margin-bottom: 50px;
}

#content img{
	max-width: 624px;/*same as #c_wrap minus paddings and some more.. */	
}
.wp-caption{
	max-width: 630px;/*same as #c_wrap minus paddings*/
}
.date{
	color:grey;
}
.entry{
	color: #444444;
    font: 14px/1.8em Helvetica,Arial,sans-serif;
    margin: auto;
    text-align: justify;
	margin-top:15px;
}


/*******************************************************************************
*********************** Sidebars *************************************************
********************************************************************************/
/**Sidebar1**/
#sb1_wrap{
	width:230px;
	float:right;
}

#sb1_top{
    /*background:transparent url('../images/sidebar1_top.png') no-repeat 0 0;*/
    width: 100%;
    height: 12px;
    
}
#sidebar1{
    /*background:transparent url('../images/sidebar1_loop.png') repeat-y; */
	overflow: hidden;
	display: none;
}
#sb1_bottom{
    /*background:transparent url('../images/sidebar1_bottom.png') no-repeat 0 0;*/
    width: 100%;
    height: 12px;
}



/**Sidebar2**/
#sb2_wrap{
	width:230px;
	float:right;
}

#sb2_top{
    /*background:transparent url('../images/sidebar1_top.png') no-repeat 0 0; */
    width: 100%;
    height: 12px;
    
}
#sidebar2{
    /*background:transparent url('../images/sidebar1_loop.png') repeat-y; */
	overflow: hidden;
}
#sb2_bottom{
    /*background:transparent url('../images/sidebar1_bottom.png') no-repeat 0 0; */
    width: 100%;
    height: 12px;
}



.widgettitle{
	border-bottom: 2px solid #F1F2F4;
    color: #444444;
    margin: 0 0 5px;
    padding: 5px 0px;
    font-size: 15px;
}
.sidebar ul ul{
	list-style:none;
	margin-left:5px;
}
.sidebar ul ul a{
	text-decoration:none !important;
}

.widget{
	margin-bottom:15px;	
}
/*******************************************************************************
*********************** Footer *************************************************
********************************************************************************/
#footer{
/*  background:transparent url('../images/footer.png') no-repeat 0 0;*/
	float:left;
	height:50px;

}

#webfish_creds img{
	vertical-align:middle;
}

